<div class="sticky-sm-top col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white rounded-top shadow p-3 rounded" style="position: fixed; display: block;">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/dashboard" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none mt-2">
            <img src="/public/images/panoptes-logo.png" alt="" width="100%" class="d-inline-block align-text-top">
        </a>
        <br>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
                <a href="/dashboard" class="nav-link px-0 align-middle">
                    <i class="bi bi-pie-chart"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
            </li>
            <li>
                <a href="/monitoring/rooms" class="nav-link px-0 align-middle">
                    <i class="bi bi-heart-pulse"></i> <span class="ms-1 d-none d-sm-inline">Monitoring</span> </a>
            </li>
            
            
        </ul>
        
    </div>
</div>