<div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/monitoring/rooms">Rooms</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= room.name %></li>
        </ol>
    </nav>
    <% let index = 0; %> 
    <% for( let i = 0; i < row; i++ ) { %>
        <div class="row" align="center">
            <% for( let j = 0; j < column; j++ ) { %>
                <% if (typeof beds[index] !== 'undefined') { %>
                    <div class="col-4 mb-3">
                        <% let color = 'success' %>
                        <% let link = `/monitoring/rooms/${beds[index].roomID}/beds/${beds[index]._id}` %>
                        <% if (beds[index].deviceID == '' || beds[index].patientID == '') { %>
                            <% 
                                color = 'danger' 
                                link = `/monitoring/rooms/${beds[index].roomID}`
                            %> 
                        <% } %> 
                        <a href="<%= link %>">
                        <div class="p-2 px-10 text-dark bg-white shadow-sm bg-body rounded border border-<%= color %> border-4">
                            <div class=" text-black text-decoration-none my-3" >
                                <img src="/public/images/bed.png" alt="hugenerd" width="20%" class="">
                                <h4><%= (beds[index].name) %> Bed</h4>
                                <span class="d-none d-sm-inline mx-1 text-blue"></span>
                            </div>
                        </div>
                        </a>
                    </div>
                <% } %>
                <% index++; %> 
            <% } %>
        </div>
    <% } %>
</div>