<div class="container-fluid">
    <a class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalCreateRoom" role="button"><i class="bi bi-plus-square"></i> Room</a>
    <% let index = 0; %> 
    <% for( let i = 0; i < row; i++ ) { %>
        <div class="row" align="center">
            <% for( let j = 0; j < column; j++ ) { %>
                <% if (typeof rooms[index] !== 'undefined') { %>
                    <div class="col-4 mb-3">
                        <div class="p-2 px-10 text-dark bg-white shadow-sm bg-body rounded">
                            <a class="btn btn-danger btn-sm float-sm-end" role="button" id="deleteRoom" onclick="deleteRoom('<%= rooms[index].room._id %>')"><i class="bi bi-trash3"></i></a><br>
                            <a class="text-decoration-none" href="/monitoring/rooms/<%= rooms[index].room._id %>">
                            <div class="text-black text-decoration-none my-3" >
                                <img src="/public/images/room.png" alt="hugenerd" width="20%" class="">
                                <h4 class="text-black" style="color: black;"><%= (rooms[index].room.name) %> Room</h4>
                                <span class="d-none d-sm-inline mx-1 text-blue"><%= (rooms[index].beds.length) %> Beds</span>
                            </div>
                            </a>
                        </div>
                    </div>
                <% } %>
                <% index++; %> 
            <% } %>
        </div>
    <% } %>
</div>
<!-- Modal -->
<div class="modal fade" id="modalCreateRoom" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">New Room</h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="roomName" name="roomName" placeholder="Enter room name" required>
                    </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submitBtn" onclick="createRoom()">Create</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    async function create(roomName) {
        const response = await fetch('/rooms', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name: roomName})
        });
        const data = await response.json();
        const newData = {
            data,
            status: response.status
        }
        return newData;
    }
    function createRoom(){
        var roomName = $('#roomName').val()
        var result = confirm('Are you sure to create new Room?');
        if(result){
            create(roomName).then(data => {
                if(data.status == 200){
                    window.location = `/monitoring/rooms`;
                }
            })
        }
    }
    async function deleteRoomFetch(roomID) {
        const response = await fetch('/rooms/'+roomID, {
            method: 'DELETE',
        });
        const data = await response.json();
        const newData = {
            data,
            status: response.status
        }
        return newData;
    }
    function deleteRoom(roomID){
        var result = confirm('Are you sure to delete the Room?');
        if(result){
            deleteRoomFetch(roomID).then(data => {
                if(data.status == 200){
                    window.location = `/monitoring/rooms`;
                }
                else{
                    alert('Cant delete this Room');
                }
            })
        }
    }
</script>